.contact-menu-block {
    margin-top: 25px;
}

.contact-menu-block a {
    margin-bottom: 20px;
    display: block;
    font-size: .8em !important;
}

.social-media {
    display: flex;
    margin: 50px -15px 0;
}

.social-media a {
    padding: 0 15px;
}

.social-media a:hover svg {
    fill: #fff !important;
}

.social-media svg {
    width: 45px;
    fill: #F0B531;
    border-radius: 7px;
    transition: fill .3s;
}

.git-social {
    width: 54px !important;
    margin-top: -4px;
}