.bm-burger-button {
    position: fixed;
    right: 0;
    top: 0;
    width: 65px;
    height: 65px;
    background-color: #000;
}

.bm-burger-button > span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.bm-menu-wrap .bm-menu a {
    font: 400 2em/1.2 'Archivo Black', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #F0B531;
    transition: color .3s;
}

.bm-menu-wrap .bm-menu a:hover {
    color: #fff;
}

.bm-cross-button > span{
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bm-cross-button .bm-cross {
    height: 45px !important;
    width: 2px !important;
    display: block;
    background-color: #F0B531;
    transition: background-color .3s;
}

.bm-cross-button {
    right: 0 !important;
    top: 0 !important;
    width: 65px !important;
    height: 65px !important;
    background-color: #000;
}

.bm-cross-button:hover .bm-cross {
    background-color: #fff;
}
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    transition: background-color .3s;
    width: 75%;
    height: 3px !important;
    position: static !important;
    display: block;
    margin: 7px auto;
    background: #F0B531;
    transition: background-color .3s;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #fff;
    opacity: 1 !important;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 90%;
    background-color: #111010;
    width: 100% !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    padding: 75px 20px;
    font-size: 1.15em;
    height: auto !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }


@media screen and (min-width: 990px) {
  .bm-cross-button,
  .bm-burger-button {
    width: 90px !important;
    height: 90px !important;
  }

  .bm-menu-wrap {
    width: 50% !important;
    max-width: 500px;
  }

  .bm-menu {
    padding: 105px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .bm-menu-wrap .bm-menu a {
    font-size: 3em;
}

  .bm-menu-wrap {
    max-width: 750px;
  }
}